
VKClient.xcodeproj/project.xcworkspace/xcuserdata/kzonin.xcuserdatad/UserInterfaceState.xcuserstate

VKClient.xcodeproj/project.xcworkspace/xcuserdata/kzonin.xcuserdatad/UserInterfaceState.xcuserstate
